<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.5" targetFramework="net45" />
  <package id="ApprovalUtilities" version="3.0.5" targetFramework="net45" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net45" />
  <package id="Moq" version="4.16.1" targetFramework="net45" />
  <package id="MSTestExtensions" version="4.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="OpenCover" version="4.7.1204" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net45" />
</packages>